* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, ul, li { 
	margin: 0;
	padding: 0;
}

body { 
	background: #fff;
	font: 100%/1.5 &quot;Whitney A&quot;, &quot;Whitney B&quot;, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	color: #333;
}

a { 
	color: #333;
	text-decoration: none;
	outline: 0;
}

a:hover, a:focus { 
	color: #808080;
}

ul { 
	margin: 0;
	padding: 0;
	list-style: none;
}

.social-share { 
	overflow: hidden;
	margin-bottom: 1em;
}

.social-share li { 
	float: left;
	margin-right: 0.5em;
}

.social-share a { 
	background: #333;
	color: #fff;
	display: block;
	padding: 0.5em;
}

.social-share a:hover { 
	background: #808080;
}

@font-face {
	font-family: 'icons';
	src: url(&quot;../fonts/icons.eot&quot;);
	src: url(&quot;../fonts/icons.eot?#iefix&quot;) format(&quot;embedded-opentype&quot;), url(&quot;../fonts/icons.woff&quot;) format(&quot;woff&quot;), url(&quot;../fonts/icons.ttf&quot;) format(&quot;truetype&quot;), url(&quot;../fonts/icons.svg#icons&quot;) format(&quot;svg&quot;);
	font-weight: normal;
	font-style: normal;
}

