* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, table { 
	margin: 0;
	padding: 0;
}

body { 
	background: #fff;
	font: 100%/1.5 &quot;Whitney A&quot;, &quot;Whitney B&quot;, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	color: #333;
}

table { 
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #808080;
	width: 100%;
}

th { 
	text-align: left;
	border: 1px solid #808080;
	padding: 0.2em;
}

td { 
	border: 1px solid #808080;
	padding: 0.2em;
}

@font-face {
	font-family: 'icons';
	src: url(&quot;../fonts/icons.eot&quot;);
	src: url(&quot;../fonts/icons.eot?#iefix&quot;) format(&quot;embedded-opentype&quot;), url(&quot;../fonts/icons.woff&quot;) format(&quot;woff&quot;), url(&quot;../fonts/icons.ttf&quot;) format(&quot;truetype&quot;), url(&quot;../fonts/icons.svg#icons&quot;) format(&quot;svg&quot;);
	font-weight: normal;
	font-style: normal;
}

