* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6 { 
	margin: 0;
	padding: 0;
}

body { 
	background: #fff;
	font: 100%/1.5 &quot;Whitney A&quot;, &quot;Whitney B&quot;, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	color: #333;
}

h1, h2 { 
	font-weight: 600;
	color: #363945;
}

h1 { 
	font-size: 50px;
	line-height: 55px;
}

h2 { 
	font-size: 34px;
	line-height: 40px;
}

h3 { 
	line-height: 1.2;
}

@font-face {
	font-family: 'icons';
	src: url(&quot;../fonts/icons.eot&quot;);
	src: url(&quot;../fonts/icons.eot?#iefix&quot;) format(&quot;embedded-opentype&quot;), url(&quot;../fonts/icons.woff&quot;) format(&quot;woff&quot;), url(&quot;../fonts/icons.ttf&quot;) format(&quot;truetype&quot;), url(&quot;../fonts/icons.svg#icons&quot;) format(&quot;svg&quot;);
	font-weight: normal;
	font-style: normal;
}

